.listBox {
  display: flex;
  justify-content: start;
  text-align: center;
  flex-wrap: wrap;
  .img-wap-box {
    margin-right: 30px;
    .img-box {
      width: 158px;
      height: 158px;
    }
  }
}
