.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 77px;
  padding: 0 34px;
  .imgBox {
    width: 60px;
    height: 60px;
  }
}
.box:nth-child(2n) {
  background-color: #252525;
}
.box:nth-child(2n + 1) {
  background-color: #292929;
}

.img-box {
  width: 59px;
  height: 61px;
}
