* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a,
button,
textarea {
  text-decoration: none;
  border: none;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.flex {
  display: flex;
}

.color-fff {
  color: #fff;
}

.color-a42b23 {
  color: #a42b23;
}

.color-922F29 {
  color: #922f29;
}

.list-title {
  font-size: 17px;
  padding: 5px 0;
  border-bottom: 1px solid #303030;
}
