* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a,
button,
textarea {
  text-decoration: none;
  border: none;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.color-fff {
  color: #fff;
}
