.my-music-title {
  margin-top: 10px;
  span {
    margin-left: 6px;
    font-size: 12px;
  }
}

.ant-menu-item {
  height: 100%;
  margin: 0;
  .list {
    width: auto;
    display: flex;
    cursor: pointer;
    color: #fff;
    img {
      width: 4vw;
      height: 4vh;
      // padding-right: 5px;
    }
    span {
      padding-left: 15px;
      color: #fff;
    }
    //     .name {
    //       font-size: 14px;
    //       height: 22px;
    //       display: flex;
    //       align-self: center;
    //     }
  }
}

// .ant-layout-sider-children {
//   .list {
//     width: auto;
//     display: flex;
//     align-items: center;
//     margin-top: 10px;
//     margin-left: 10px;
//     cursor: pointer;
//     .img-box {
//       width: 4vw;
//       height: 4vh;
//     }
//     .name {
//       font-size: 14px;
//       height: 22px;
//       display: flex;
//       align-self: center;
//     }
//   }
// }

// 登录
.login-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 10px;
  .login-img {
    width: 26px;
    height: 26px;
  }
  .link {
    color: #fff;
    font-size: 16px;
    margin-left: 6px;
  }
}
