.example {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0 0;
}

.loginCOntainer {
  width: 350px;
  height: 530px;
  background: green;
  margin: auto;
  .login-box1 {
    width: 260px;
    margin: auto;
    padding: 10px 0 0 0;
    .box {
      margin-bottom: 39px;
      #phone {
        margin-bottom: 20px;
      }
    }
    button {
      width: 100%;
      color: #fff;
      background-color: #8a1a1b;
      border: none;
    }
  }
}
