.ant-layout-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  line-height: 53px;
  padding: 0 !important;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // background-color: #fff;
  // .play-box {
  // }
}
