.navItem {
  display: flex;
  margin-bottom: 10px;
  .title {
    color: #a6a6a6;
  }
  .box {
    display: flex;
    flex: 7;
    flex-wrap: wrap;
    color: #b6b6b6;
    .item {
      width: 11%;
      cursor: pointer;
      text-align: center;
      border-right: 1px solid #303030;
      div {
        width: 60px;
        text-align: center;
        margin: auto;
        border-radius: 30px;
      }
    }

    .letterItem {
      margin-bottom: 10px;
    }
  }
}

// .list-box {
//   display: flex;
//   flex-wrap: wrap;
//   text-align: center;
//   /* align-items: center; */
//   justify-content: space-between;
//   .list {
//     margin-bottom: 10px;
//     .img-box {
//       width: 134px;
//       height: 134px;
//     }
//     .name {
//       padding-top: 5px;
//     }
//   }
// }

.active {
  color: red;
  background-color: #2e2423;
}
