.loginCOntainer {
  width: 350px;
  height: 530px;
  background: green;
  margin: auto;
  .login-box1 {
    // width: 350px;
    // height: 530px;
    // background: green;
    // margin: auto;
    width: 260px;
    margin: auto;
    padding: 10px 0 0 0;
    .box {
      margin-bottom: 39px;
      // .ant-input:first-child {
      //   margin-bottom: 20px;
      // }
    }
    button {
      width: 100%;
      color: #fff;
      background-color: #8a1a1b;
      border: none;
    }
  }
}
